version: '3.8'

services:
  web:
    build: .
    container_name: api-warotickets-web
    ports:
      - "5002:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${NUXT_PRIVATE_DB_USER}:${NUXT_PRIVATE_DB_PASSWORD}@${NUXT_PRIVATE_DB_HOST}:${NUXT_PRIVATE_DB_PORT}/${NUXT_PRIVATE_DB_NAME}
    networks:
      - warolabs-network
    restart: unless-stopped

networks:
  warolabs-network:
    external: true
