services:
  web:
    build: .
    container_name: api-warotickets-${APP_ENV:-prod}
    ports:
      - "${HOST_PORT:-5002}:8000"
    env_file:
      - .env.${APP_ENV:-prod}
    networks:
      - warolabs-network
    restart: unless-stopped

networks:
  warolabs-network:
    external: true
